#AvailablePositions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding-top: 20px;
}

.card {
  min-width: 300px;
  min-height: 300px;
  border: 1px solid white;
  overflow: hidden;
  margin: 10px;
  transition: 0.5s linear;
}

.card img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  display: block;
}

.card p {
  margin: 10px 0;
  text-align: left;
  font-size: 22px;
  padding-bottom: 15px;
}

.card button {
  border: none;
  outline: none;
  background: #b22;
  color: white;
  margin: 15px 0;
  float: left;
  padding: 13px;
  font-size: 15px;
  font-weight: 600;
}

.card button:hover {
  box-shadow: none;
  background: #b22;
  opacity: 0.8;
}

.card button:visited {
  box-shadow: none;
  background: #b22;
}

.card button:active {
  box-shadow: none;
  background: #b22;
}
