body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.child{
  background-color: red;
  height:50%;
  width:50%;
}

.parent:hover .child{
  animation: left-to-right 1s ease-in forwards 3 alternate 3s fill-mode;
}

@keyframes left-to-right{
  0%{
    transform: translateX(0);
  }
  33%{
    transform: translateY(100%);
  }
  66%{
    transform: translateX(100%) translateY(100%);
  }
  100%{
    transform: translateX(100%);
  }
}